@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
    margin:0;
    padding:0;
}

header {
    background: url(/img/huntington.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 160px;
    margin-top: 0px;
} 

h1 {
    font-family: 'IBM Plex Mono', monospace;
    color: whitesmoke;
    text-shadow: 3px 3px 2px black;
    text-transform: uppercase;
    text-align: center;
    padding-top: 50px;
    margin-top: 0px;
    font-size: 30px;
    font-weight: 300;
}

h2 {
    background: url(../img/zen.svg);
    background-repeat: no-repeat;
    background-size: contain;
    color: whitesmoke;
    font-family: 'Satisfy';
    font-style: italic;
    text-align: center;
    font-size: small;
    background-position: 42%;
    padding-top: 20px;
    font-size: 20px;

}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: black;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
 
p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 12px;
    text-align: justify;
    text-decoration: none;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;

}
a {
    text-decoration: none;
    color: black;
}

#zen-summary {
    padding-bottom: 10px;
    padding-top: 10px;

}

.participation, .benefits {
    background: url(/img/bamboo.png);
    background-color: #709875;
    background-size: 100%;
    background-blend-mode: multiply;
    color: white;
}


#zen-participation a {
    color: #29422C;
}

#zen-participation h3 {
    padding-bottom: 0px;
}

#zen-participation p {
    margin-bottom: 0px;
}

#zen-benefits h3 {
    padding-bottom: 0px;
}

#zen-benefits p {
    padding-bottom: 10px;
}


[role=contentinfo] {
    background-color: #709875;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    text-align: center;
    text-indent: 30px;
    color: silver;

}


a[href="http://www.mezzoblue.com/"] {
    font-size: 30px;
    color: white;
    font-family: 'Satisfy';
    
}

a[href="http://www.mezzoblue.com/"]:hover {
    text-decoration: underline;
    
}
a[href="http://www.mediatemple.net/"] {
    font-size: 30px;
    color: white;
    font-family: 'Satisfy';
    
}
a[href="http://www.mediatemple.net/"]:hover {
    text-decoration: underline;
    
}

a[href="http://www.amazon.com/exec/obidos/ASIN/0321303474/mezzoblue-20/"] {
    font-size: 30px;
    color: white;
    font-family: 'Satisfy';
}

a[href="http://www.amazon.com/exec/obidos/ASIN/0321303474/mezzoblue-20/"]:hover {
    text-decoration: underline;
}

footer {
    background-color: #304A4B;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px;
}

.fab {
    color: white;
    padding-left: 20px;

}

.fab:hover {
    color: grey;

}

#design-selection {
   background-color: #d0e6cc;
}

#design-selection li {
    font-family: 'IBM Plex Mono', monospace;
    color: black;
    font-size: 12px;
    padding-bottom: 30px;
    padding-top: 30px;
    float: left;
    width: 50%;
    text-align: center;
    list-style-type: none;
    border-bottom: 1px solid grey;
    background-color: #d0e6cc;
 }

 #design-selection a.designer-name {
    font-family: 'IBM Plex Mono', monospace;
    color: silver;
    font-size: 12px;
 }

 #design-selection a.design-name {
    font-family: 'IBM Plex Mono', monospace;
    color: black;
    font-size: 12px;
 }

 h3.select {
     display: none;
 }
 h3.archives {
    display: none;
}
h3.resources {
    display: none;
}

.zen-resources li{
    float: inline-start;
    width: 50%;
    list-style-type: none;
    text-align: center;
}



[role=navigation] ul {
    text-align: center;
    list-style-type: none;
    color: silver;
}


li.next{
    float:left;
    width: 50%;
    background-color: #d0e6cc;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 12px;
    padding-bottom: 30px;
    padding-top: 30px;
    
}

li.next a {
    color: silver;
}

li.viewall {
    float:right;
    width: 50%;
    background-color: #d0e6cc;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 12px;
    padding-bottom: 30px;
    padding-top: 30px;
}

li.viewall a {
    color: silver;
}